@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@keyframes rainbowGlow {
  0% { filter: drop-shadow(0 0 5px #ff0000); color: #ff0000; }
  20% { filter: drop-shadow(0 0 5px #ff9900); color: #ff9900; }
  40% { filter: drop-shadow(0 0 5px #ffff00); color: #ffff00; }
  60% { filter: drop-shadow(0 0 5px #00ff00); color: #00ff00; }
  80% { filter: drop-shadow(0 0 5px #00ffff); color: #00ffff; }
  100% { filter: drop-shadow(0 0 5px #ff00ff); color: #ff00ff; }
}

.glow-animation {
  animation: rainbowGlow 2s linear infinite;
}

